{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div id="controller-panel">
            <div class="col-md-9">
                <div class="input-group">
                    <input id="lat-input" type="text" class="form-control" placeholder="lat" onkeyup="if(event.keyCode == 13){$('#go-btn').click();}">
                    <input id="lon-input" type="text" class="form-control" placeholder="lon" onkeyup="if(event.keyCode == 13){$('#go-btn').click();}">
                    <span class="input-group-btn">
                        <input id="go-btn" class="btn btn-default" type="button" value="Go!"></input>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas"></div>

<div class="loading-modal"></div>


<!--
Here's where we're calling the google maps API. No API key needed yet, b/c
we're not using it very much. If we started using it enough that we wanted
to track our usage, we should get an API key. More info:
https://developers.google.com/maps/documentation/javascript/tutorial#api_key
-->
<script src="//maps.googleapis.com/maps/api/js?language=en&libraries=drawing,places,visualization"></script>
<script src="static/js/libs/google-maps-utility-library-v3/maplabel/src/maplabel.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="static/js/TweetMap.js"></script>
<!-- Note that the order in which we add stuff matters! If b.js depends on
something in a.js, you have to include a.js before b.js. So if you reorder
these imports, something might break. This is a weakness of javascript, and the
reason that require.js was developed. But if you just keep everything in order,
it should work. -->

{% endblock body %}
